.App {
  text-align: center;
}

.ListItem {
  text-align: start;
  margin: 2vh;
  background-color: grey;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.ItemName {
  font-size: 18px;
}

.ItemNum {
  font-size: 12px;
}

.Filter {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Select {
  padding: 5px;
}

.DetailContainer {
  display: flex;
  flex-direction: column;
  margin: 5%;
  background-color: silver;
  border-radius: 5px;
}

.Detail {
  display: flex;
}

.column {
  justify-content: center;
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.link {
  color: blue;
  cursor: pointer;
}
